<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.match.mapper.ReserveSublistMapper">
  <resultMap id="BaseResultMap" type="com.xz.match.entity.ReserveSublist">
    <!--@mbg.generated-->
    <!--@Table reserve_sublist-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reserveId" jdbcType="BIGINT" property="reserveId" />
    <result column="reserveDate" jdbcType="VARCHAR" property="reserveDate" />
    <result column="startTime" jdbcType="VARCHAR" property="startTime" />
    <result column="endTime" jdbcType="VARCHAR" property="endTime" />
    <result column="reserveLimit" jdbcType="INTEGER" property="reserveLimit" />
    <result column="reserveNumber" jdbcType="INTEGER" property="reserveNumber" />
    <result column="createdTime" jdbcType="BIGINT" property="createdTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, reserveId, reserveDate, startTime, endTime, reserveLimit, reserveNumber, createdTime
  </sql>
  <select id="selectByExample" parameterType="com.xz.match.entity.ReserveSublistExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reserve_sublist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from reserve_sublist
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from reserve_sublist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xz.match.entity.ReserveSublistExample">
    <!--@mbg.generated-->
    delete from reserve_sublist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xz.match.entity.ReserveSublist" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into reserve_sublist (reserveId, reserveDate, startTime, 
      endTime, reserveLimit, reserveNumber, 
      createdTime)
    values (#{reserveId,jdbcType=BIGINT}, #{reserveDate,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{reserveLimit,jdbcType=INTEGER}, #{reserveNumber,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xz.match.entity.ReserveSublist" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into reserve_sublist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reserveId != null">
        reserveId,
      </if>
      <if test="reserveDate != null">
        reserveDate,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="reserveLimit != null">
        reserveLimit,
      </if>
      <if test="reserveNumber != null">
        reserveNumber,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reserveId != null">
        #{reserveId,jdbcType=BIGINT},
      </if>
      <if test="reserveDate != null">
        #{reserveDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="reserveLimit != null">
        #{reserveLimit,jdbcType=INTEGER},
      </if>
      <if test="reserveNumber != null">
        #{reserveNumber,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xz.match.entity.ReserveSublistExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from reserve_sublist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update reserve_sublist
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.reserveId != null">
        reserveId = #{record.reserveId,jdbcType=BIGINT},
      </if>
      <if test="record.reserveDate != null">
        reserveDate = #{record.reserveDate,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        startTime = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        endTime = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.reserveLimit != null">
        reserveLimit = #{record.reserveLimit,jdbcType=INTEGER},
      </if>
      <if test="record.reserveNumber != null">
        reserveNumber = #{record.reserveNumber,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null">
        createdTime = #{record.createdTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update reserve_sublist
    set id = #{record.id,jdbcType=BIGINT},
      reserveId = #{record.reserveId,jdbcType=BIGINT},
      reserveDate = #{record.reserveDate,jdbcType=VARCHAR},
      startTime = #{record.startTime,jdbcType=VARCHAR},
      endTime = #{record.endTime,jdbcType=VARCHAR},
      reserveLimit = #{record.reserveLimit,jdbcType=INTEGER},
      reserveNumber = #{record.reserveNumber,jdbcType=INTEGER},
      createdTime = #{record.createdTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xz.match.entity.ReserveSublist">
    <!--@mbg.generated-->
    update reserve_sublist
    <set>
      <if test="reserveId != null">
        reserveId = #{reserveId,jdbcType=BIGINT},
      </if>
      <if test="reserveDate != null">
        reserveDate = #{reserveDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="reserveLimit != null">
        reserveLimit = #{reserveLimit,jdbcType=INTEGER},
      </if>
      <if test="reserveNumber != null">
        reserveNumber = #{reserveNumber,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xz.match.entity.ReserveSublist">
    <!--@mbg.generated-->
    update reserve_sublist
    set reserveId = #{reserveId,jdbcType=BIGINT},
      reserveDate = #{reserveDate,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      reserveLimit = #{reserveLimit,jdbcType=INTEGER},
      reserveNumber = #{reserveNumber,jdbcType=INTEGER},
      createdTime = #{createdTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>