<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.match.mapper.ReserveRecordMapper">
  <resultMap id="BaseResultMap" type="com.xz.match.entity.ReserveRecord">
    <!--@mbg.generated-->
    <!--@Table reserve_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="recordId" jdbcType="BIGINT" property="recordId" />
    <result column="reserveSubId" jdbcType="BIGINT" property="reserveSubId" />
    <result column="appointmentTime" jdbcType="VARCHAR" property="appointmentTime" />
    <result column="createdTime" jdbcType="BIGINT" property="createdTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, recordId, reserveSubId, appointmentTime, createdTime
  </sql>
  <select id="selectByExample" parameterType="com.xz.match.entity.ReserveRecordExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reserve_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from reserve_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from reserve_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xz.match.entity.ReserveRecordExample">
    <!--@mbg.generated-->
    delete from reserve_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xz.match.entity.ReserveRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into reserve_record (recordId, reserveSubId, appointmentTime, 
      createdTime)
    values (#{recordId,jdbcType=BIGINT}, #{reserveSubId,jdbcType=BIGINT}, #{appointmentTime,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xz.match.entity.ReserveRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into reserve_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        recordId,
      </if>
      <if test="reserveSubId != null">
        reserveSubId,
      </if>
      <if test="appointmentTime != null">
        appointmentTime,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="reserveSubId != null">
        #{reserveSubId,jdbcType=BIGINT},
      </if>
      <if test="appointmentTime != null">
        #{appointmentTime,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xz.match.entity.ReserveRecordExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from reserve_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update reserve_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordId != null">
        recordId = #{record.recordId,jdbcType=BIGINT},
      </if>
      <if test="record.reserveSubId != null">
        reserveSubId = #{record.reserveSubId,jdbcType=BIGINT},
      </if>
      <if test="record.appointmentTime != null">
        appointmentTime = #{record.appointmentTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        createdTime = #{record.createdTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update reserve_record
    set id = #{record.id,jdbcType=BIGINT},
      recordId = #{record.recordId,jdbcType=BIGINT},
      reserveSubId = #{record.reserveSubId,jdbcType=BIGINT},
      appointmentTime = #{record.appointmentTime,jdbcType=VARCHAR},
      createdTime = #{record.createdTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xz.match.entity.ReserveRecord">
    <!--@mbg.generated-->
    update reserve_record
    <set>
      <if test="recordId != null">
        recordId = #{recordId,jdbcType=BIGINT},
      </if>
      <if test="reserveSubId != null">
        reserveSubId = #{reserveSubId,jdbcType=BIGINT},
      </if>
      <if test="appointmentTime != null">
        appointmentTime = #{appointmentTime,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xz.match.entity.ReserveRecord">
    <!--@mbg.generated-->
    update reserve_record
    set recordId = #{recordId,jdbcType=BIGINT},
      reserveSubId = #{reserveSubId,jdbcType=BIGINT},
      appointmentTime = #{appointmentTime,jdbcType=VARCHAR},
      createdTime = #{createdTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findBy" parameterType="map" resultType="com.xz.match.entity.vo.ReserveRecordVO">
    SELECT
      r.*,
      s.`name`,
      s.certificateNo,
      s.matchNo
    FROM
      reserve_record r
      LEFT JOIN sign_record s ON r.recordId = s.id
    <where>
      <include refid="condition_sql" />
    </where>
    order by createdTime desc
  </select>
  <sql id="condition_sql">
    <trim prefixOverrides="AND | OR">
      <if test="recordId != null and recordId !=''">
        AND r.recordId = #{recordId}
      </if>
      <if test="reserveSubId != null and reserveSubId !=''">
        AND r.reserveSubId = #{reserveSubId}
      </if>
    </trim>
  </sql>
</mapper>